*{
    margin:0;
    padding: 0;
}


footer {
    text-align: center;
    padding-bottom: 7px;
    color: black;
    background-color: white;
}



.topNav  {
    float: right;
            }
.topNav .dropdown-menu{left:auto;right:0px;}


.allignment {
    padding:  20px
    ;
}

.container1 {
    table-layout: auto;
    margin: 50px;
    padding-left: 37%;
    padding-top: 3%;
}

.container2 {
    table-layout: center;
    margin: 50px;
    padding-left: 30%;
    padding-top: .9%;
}